@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  box-sizing: border-box;
  height: 100%;
}

.header {
  background-size: cover;
  background-image: url("./assets/bg-mobile-light.jpg");
  position: absolute;
  height: 200px;
  width: 100%;
}

.dark .header {
  background-image: url("./assets/bg-mobile-dark.jpg");
}

@media (min-width: 640px) {
  .header {
    background-image: url("./assets/bg-desktop-light.jpg");
    background-size: cover;
    height: 300px;
  }

  .dark .header {
    background-image: url("./assets/bg-desktop-dark.jpg");
  }
}
